{% extends "base.html" %}


{% block content %}
{% include "navbar.html" %}

{{ ref_id }}<br/>

{{ count }}<br/>

{{ ref_url }}<br/>


<div class="icons">
	<i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
	<i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
	<i class="fa fa-linkedin-square fa-4x" style="color:#007bb6"></i>
	<i class="fa fa-reddit-square fa-4x" style="color:#900020"></i>
	<i class="fa fa-google+-square fa-4x" style="color:#4099FF"></i>
</div>




<div class="row">
	<div class=col-sm-3">
	<h3>5 Joined</h3>
		<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
			100%
			</div>
  		</div>
	</div>
	<div class=col-sm-3">
	<h3>15 Joined</h3>
		<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
			100%
			</div>
  		</div>
	</div>
	<div class=col-sm-3">
	<h3>25 Joined</h3>
		<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
			100%
			</div>
  		</div>
	</div>
	<div class=col-sm-3">
	<h3>50 Joined</h3>
		<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
			100%
			</div>
  		</div>
	</div>
</div>







{% endblock %}